// VARIÁVEIS
$btn_color_default: #fff;
$btn_color_blue: #4096ff;
// FUNÇÕES
@function btnColor($color) {
  @return darken($color, 8%);
}
//MIXINS
@mixin newButton($color, $colorText, $colorHover) {
  padding: 10px 16px;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border-radius: percentage(20/100);
  background-color: $color;
  border: 1px solid $color;
  color: $colorText;
  &:hover {
    background-color: btnColor($colorHover);
  }
}
// HERANçA
.btn-default {
  @include newButton($btn_color_default, grey, $btn_color_default);
}
.btn-blue {
  @include newButton($btn_color_blue, white, $btn_color_blue);
}
