/* forçar navegadores antigos a verem iguais os novos */
header,
section,
footer,
nav,
main,
article,
figure {
    display: block
} 
/* Estilizando minha tag */

myTag {
    display: block;
    background-color: #ddd
}
main, section, main aside{
    display: inline-block
}