.btn {
    text-decoration: none;
    background-color: #ecf0f1;
    padding: 10px 20px;
    border-radius: 10px;
    color: #7f8c8d;
    display: inline-block;
}
.btn.btn-red:hover {
    background-color: #c0392b
}

.btn.btn-red {
    background-color: #e74c3c;
    color: #fff;
}

.btn.btn-blue:hover {
    background-color: #2980b9
}

.btn.btn-blue {
    background-color: #3498db;
    color: #fff;
}

.btn.btn-green:hover {
    background-color: #16a085
}

.btn.btn-green {
    background-color: #1abc9c;
    color: #fff;
}